/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

  /* all tag css start */

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    margin: 0;
    color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  /* all tag css finish */
  /* reuseable css start */

  .row {
    padding: 5rem 3rem;
  }

  p {
    margin: 0;
  }

  li {
    list-style: none;
  }

  h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0;
  }

  .little-title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  .btn {
    padding: 1.2rem 1.8rem;
    background: #A7B70D;
  }


  /* reuseable css finish */
  /* section css start */

  /* main nav */

  #header {
    background: rgba(0, 0, 0, .7);
    padding: 1.5rem 0;
    background-image: url(01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  #header .row {
    padding: 0rem 4rem;
  }


  .logo {
    float: left;
    font-size: 2.5rem;
    margin-top: .7rem;
    text-transform: uppercase;
  }

  .naV {
    background: rgba(0, 0, 0, 0.6);
    margin-top: -1.5rem;
    padding: 1.3rem 8rem;
  }

  .logo a {
    color: #fff;
  }

  .nav {
    text-align: center;
    float: right;
    width: 55%;
    margin-top: 1.5rem;
    display: none;
  }

  .nav ul {
    display: inline-flex;
    list-style: none;
  }

  .nav ul li {}

  .nav ul li a {
    text-decoration: none;
    color: #FFFF;
    padding: 3.3rem 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .active,
  .nav ul li a:hover {
    color: #A2910C;
  }

  .sub-nav-01 {
    display: none;
  }

  .nav ul li:hover .sub-nav-01 {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 3rem;
    margin-left: 1px;
    z-index: 999;

  }

  .nav ul li:hover .sub-nav-01 ul {
    padding: 0;
    display: inline-block;
  }

  .nav ul li:hover .sub-nav-01 ul li {
    width: 14.5rem;
    background: transparent;
    padding: 0;
  }

  .nav ul li:hover .sub-nav-01 ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    text-transform: capitalize;
    font-size: 2rem;
  }


  .nav ul li:hover .sub-nav-01 ul li a:hover {
    background: #A2B70D;
    color: #fff;
  }

  .fa-angle-right {
    float: right;
  }

  .sub-nav-02 {
    display: none;
  }

  .hover-me:hover .sub-nav-02 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 14.5rem;
    background: rgba(0, 0, 0, 0.6);
  }

  /* main nav */
  /* mobile nav */
  /* mobile-menu */
  .mobile-menu span {
    float: right;
    margin-top: -1rem;
    margin-right: 0rem;
    color: #fff;
    font-size: 5rem;
    display: block !important;
  }

  .mobile-menu .OpenNAV:hover {
    cursor: pointer;
  }

  .overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    overflow-x: hidden;
    transform: 5s;
  }

  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }

  .overlay-content a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #fff;
  }

  .overlay-content a:hover {
    color: green;
  }

  .overlay .btn-close {
    position: absolute;
    top: 3rem;
    right: 4rem;
    font-size: 4rem;
    color: #fff;
  }

  /* mobile nav */
  .banner {
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center;
    color: #fff;
  }

  #header .banner h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
  }

  #header .row {
    padding: 0;
  }

  #header .little-title {
    width: 100%;
    margin-left: 0rem !important;
    margin-bottom: 3rem;
  }

  #header .btn {
    margin-left: 0 !important;
    padding-top: .8rem;
    color: #fff;
    font-size: 1.6rem;
  }

  #header .btn:hover {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border: .1rem solid #fff;
  }

  /* service start */

  #service {
    background: #F6F6F6;
  }

  #service h2 {
    color: #000;
    text-align: center;
  }

  #service p {
    margin-top: 0rem;
  }

  #service .row:nth-child(2) {
    margin-top: 0;
  }

  #service .col {
    border: .1rem solid #D7D7D7;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding: 2.5rem 0;
    margin-top: 1.5rem;
  }

  #service .col:first-child {
    margin-top: 0;
  }

  #service .fa {
    font-size: 4rem;
    color: #000;
  }

  #service a {
    color: #A0B70D;
  }

  #service .fa:hover {
    color: #A0B70D;
  }

  #service h4 {
    padding: 1.5rem 0;

  }


  /* service finish */
  /*teem start*/

  #teem {
    text-align: center;
  }

  #teem .row:nth-child(1) {
    padding-bottom: 0;
  }

  #teem .row:nth-child(2) {
    padding-top: 4.5rem;
  }

  #teem .col {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 1.5rem;
  }

  #teem .col:first-child {
    margin-top: 0;
  }

  #teem .col:hover {
    border: .2rem solid #A0B70D;

  }

  #teem h4 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
  }

  #teem h5 {
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }

  #teem img {
    width: 100%;
  }

  #teem .col p {
    font-size: 1.8rem;
    padding: 2.5rem 1.5rem;
    border-bottom: .2rem solid #EDEDED;
  }

  #teem .social-link {
    margin-left: 10%;
    padding-top: 1rem;
    padding-bottom: 6rem;
  }

  #teem .social-link a {
    float: left;
    width: 9%;
    text-align: center;
    padding: 1.2rem;
    background: #A0B70D;
    margin: 0rem .3rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #teem .social-link a .tt:hover {
    color: green;
    background: red;
  }

  #teem .social-link a .fac:hover {
    color: red;
    background: green;
  }

  #teem {}



  /*teem finish*/
  /* aboutUs start */

  #aboutUs {
    background: #414905;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
  }

  #aboutUs .little-title {
    font-size: 2rem;
  }

  #aboutUs .col {
    width: 100%;
  }

  #aboutUs p {
    font-size: 5rem;
  }

  #aboutUs h2 {
    color: #fff;
    text-align: center;
  }

  #aboutUs h4 {
    color: #fff;
    font-size: 2rem;
  }

  #aboutUs .fa {
    margin-bottom: 3.5rem;
    font-size: 6rem;
    color: #A2B70D;
  }

  /* aboutUs finish */
  /*blog start */

  #blog {
    text-align: center;
    font-size: 1.8rem;

  }

  #blog .col {
    border: .1rem solid #EFEFEF;
    width: 100%;
    padding-bottom: 3rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
  }

  #blog .col:first-child {
    margin-top: 0;
  }

  #blog .col:hover {
    border: .1rem solid #A0B70D
  }

  #blog .little-title {
    font-size: 1.8rem;
    text-align: center;
    border: 0;
    margin-top: 0;
  }

  #blog img {
    width: 100%;
  }

  #blog .backgroun-images {
    position: relative;
  }

  #blog .images-text {
    position: absolute;
    top: 5%;
    left: 5%;
    background: #EDEDED;
    text-align: center;
    padding: .3rem .5em;
    font-size: 2rem;
    padding-left: .88em;
  }

  #blog .images-text-02 {
    position: absolute;
    top: 19%;
    left: 5%;
    background: #DADADA;
    text-align: center;
    padding: .3rem .5em;
    font-size: 2rem;
  }

  #blog h4 {
    text-align: center;
    margin-top: 2rem;
  }

  #blog .Admin a {
    color: #A2B70D;
  }

  #blog p {
    border-top: .1rem solid #EDEDED;
    border-bottom: .1rem solid #EDEDED;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
    text-align: left;
  }

  #blog .btn {
    margin-top: 2rem;
  }

  #blog .Btn {
    padding-top: 3rem;
  }

  /*blog finish */
  /* contact start */

  #contact {
    background: url(01.png);
    color: #fff;
    font-size: 2rem;
  }

  #contact .col {
    margin-top: 1.5rem;
    width: 100%;
  }

  #contact .col:first-child {
    margin-top: 0;
  }

  #contact h3 {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #contact h5 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #contact p {
    margin-bottom: 2rem;
  }

  #contact .nth-02 {
    margin-bottom: 6rem;
  }

  #contact a {
    color: #fff;
    padding: 0 .5rem;
    font-size: 1.6rem;
  }

  #contact a:hover {
    color: #A2B70D;
  }

  #contact .col:nth-child(1) .fa {
    color: #A2B70D;
  }

  #contact .contact-col-02 {
    border-bottom: .2rem solid #4C4C4C;
    padding: 2rem 1rem;
  }

  #contact .contact-col-02:nth-child(5) {
    border-bottom: 0;
  }

  #contact .contact-col-02 .fa {}

  #contact .social-link-02 {}

  #contact .social-link-02 ul {}

  #contact .social-link-02 ul li {
    display: inline;
  }

  #contact .social-link-02 ul li a {
    padding: 1rem;
    background: rgba(162, 183, 13, .5)
  }

  #contact .social-link-02 ul li a:hover {
    color: #fff;
  }

  #contact img {
    width: 100%;
    height: 15.5rem;
  }

  #contact .col:nth-child(3) p {
    margin-top: 1.5rem;
  }


  /* contact finish */
  /* footer start */

  #footer {
    background: #191919;
    color: #FFF;
    font-size: 1.6rem;
  }

  #footer .row {
    padding: 2rem 2rem;
  }

  #footer .left-side {
    float: left;
  }

  #footer .right-side {
    float: none;
    margin-top: 0.2rem;
  }

  /* footer finish */

  #myBtn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    z-index: 999;
    font-size: 2rem;
    border: none;
    outline: none;
    background: rgba(162, 183, 13, .5);
    color: white;
    cursor: pointer;
    padding: 1.2rem;
    border-radius: .5rem;
  }

  #myBtn:hover {
    background-color: #A1B70D;
  }

  /* home page */
  /* section css finish */

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* all tag css start */

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    margin: 0;
    color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  /* all tag css finish */
  /* reuseable css start */

  .row {
    padding: 5rem 3rem;
  }

  p {
    margin: 0;
  }

  li {
    list-style: none;
  }

  h2 {
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 0;
  }

  .little-title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  .btn {
    padding: 1.2rem 1.8rem;
    background: #A7B70D;
  }


  /* reuseable css finish */
  /* section css start */

  /* main nav */

  #header {
    background: rgba(0, 0, 0, .7);
    padding: 1.5rem 0;
    background-image: url(01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  #header .row {
    padding: 0rem 4rem;
  }


  .logo {
    float: left;
    font-size: 2.5rem;
    margin-top: .7rem;
    text-transform: uppercase;
  }

  .naV {
    background: rgba(0, 0, 0, 0.6);
    margin-top: -1.5rem;
    padding: 1.3rem 8rem;
  }

  .logo a {
    color: #fff;
  }

  .nav {
    text-align: center;
    float: right;
    width: 55%;
    margin-top: 1.5rem;
    display: none;
  }

  .nav ul {
    display: inline-flex;
    list-style: none;
  }

  .nav ul li {}

  .nav ul li a {
    text-decoration: none;
    color: #FFFF;
    padding: 3.3rem 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .active,
  .nav ul li a:hover {
    color: #A2910C;
  }

  .sub-nav-01 {
    display: none;
  }

  .nav ul li:hover .sub-nav-01 {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 3rem;
    margin-left: 1px;
    z-index: 999;

  }

  .nav ul li:hover .sub-nav-01 ul {
    padding: 0;
    display: inline-block;
  }

  .nav ul li:hover .sub-nav-01 ul li {
    width: 14.5rem;
    background: transparent;
    padding: 0;
  }

  .nav ul li:hover .sub-nav-01 ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    text-transform: capitalize;
    font-size: 2rem;
  }


  .nav ul li:hover .sub-nav-01 ul li a:hover {
    background: #A2B70D;
    color: #fff;
  }

  .fa-angle-right {
    float: right;
  }

  .sub-nav-02 {
    display: none;
  }

  .hover-me:hover .sub-nav-02 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 14.5rem;
    background: rgba(0, 0, 0, 0.6);
  }

  /* main nav */
  /* mobile nav */
  /* mobile-menu */
  .mobile-menu span {
    float: right;
    margin-top: -1rem;
    margin-right: 0rem;
    color: #fff;
    font-size: 5rem;
    display: block !important;
  }

  .mobile-menu .OpenNAV:hover {
    cursor: pointer;
  }

  .overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    overflow-x: hidden;
    transform: 5s;
  }

  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }

  .overlay-content a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #fff;
  }

  .overlay-content a:hover {
    color: green;
  }

  .overlay .btn-close {
    position: absolute;
    top: 3rem;
    right: 4rem;
    font-size: 4rem;
    color: #fff;
  }

  /* mobile nav */
  .banner {
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center;
    color: #fff;
  }

  #header .banner h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
  }

  #header .row {
    padding: 0;
  }

  #header .little-title {
    width: 100%;
    margin-left: 0rem !important;
    margin-bottom: 3rem;
  }

  #header .btn {
    margin-left: 0 !important;
    padding-top: .8rem;
    color: #fff;
    font-size: 1.6rem;
  }

  #header .btn:hover {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border: .1rem solid #fff;
  }

  /* service start */

  #service {
    background: #F6F6F6;
  }

  #service h2 {
    color: #000;
    text-align: center;
  }

  #service p {
    margin-top: 0rem;
  }

  #service .row:nth-child(2) {
    margin-top: 0;
  }

  #service .col {
    border: .1rem solid #D7D7D7;
    width: 48%;
    text-align: center;
    font-size: 1.8rem;
    padding: 2.5rem 0;
    margin-top: 1.5rem;
  }

  #service .col:nth-child(3) {
    margin-left: 0 !important;
  }

  #service .col:first-child {
    margin-top: 0;
  }

  #service .fa {
    font-size: 4rem;
    color: #000;
  }

  #service a {
    color: #A0B70D;
  }

  #service .fa:hover {
    color: #A0B70D;
  }

  #service h4 {
    padding: 1.5rem 0;

  }


  /* service finish */
  /*teem start*/

  #teem {
    text-align: center;
  }

  #teem .row:nth-child(1) {
    padding-bottom: 0;
  }

  #teem .row:nth-child(2) {
    padding-top: 4.5rem;
  }

  #teem .col {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 1.5rem;
  }

  #teem .col:first-child {
    margin-top: 0;
  }

  #teem .col:hover {
    border: .2rem solid #A0B70D;

  }

  #teem h4 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
  }

  #teem h5 {
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }

  #teem img {
    width: 100%;
  }

  #teem .col p {
    font-size: 1.8rem;
    padding: 2.5rem 1.5rem;
    border-bottom: .2rem solid #EDEDED;
  }

  #teem .social-link {
    margin-left: 30%;
    padding-top: 1rem;
    padding-bottom: 6rem;
  }

  #teem .social-link a {
    float: left;
    width: 9%;
    text-align: center;
    padding: 1.2rem;
    background: #A0B70D;
    margin: 0rem .3rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #teem .social-link a .tt:hover {
    color: green;
    background: red;
  }

  #teem .social-link a .fac:hover {
    color: red;
    background: green;
  }

  #teem {}



  /*teem finish*/
  /* aboutUs start */

  #aboutUs {
    background: #414905;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
  }

  #aboutUs .little-title {
    font-size: 2rem;
  }

  #aboutUs .col {
    width: 48%;
  }

  #aboutUs .col:nth-child(3),
  #aboutUs .col:nth-child(4) {
    margin-top: 1.5rem;
  }


  #aboutUs .col:nth-child(3) {
    margin-left: 0;
  }

  #aboutUs p {
    font-size: 5rem;
  }

  #aboutUs h2 {
    color: #fff;
    text-align: center;
  }

  #aboutUs h4 {
    color: #fff;
    font-size: 2rem;
  }

  #aboutUs .fa {
    margin-bottom: 3.5rem;
    font-size: 6rem;
    color: #A2B70D;
  }

  /* aboutUs finish */
  /*blog start */

  #blog {
    text-align: center;
    font-size: 1.8rem;

  }

  #blog .col {
    border: .1rem solid #EFEFEF;
    width: 100%;
    padding-bottom: 3rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
  }

  #blog .col.span_1_of_3.box {
    margin-left: 0 !important;
  }

  #blog .col:first-child {
    margin-top: 0;
  }

  #blog .col:hover {
    border: .1rem solid #A0B70D
  }

  #blog .little-title {
    font-size: 1.8rem;
    text-align: center;
    border: 0;
    margin-top: 0;
  }

  #blog img {
    width: 100%;
  }

  #blog .backgroun-images {
    position: relative;
  }

  #blog .images-text {
    position: absolute;
    top: 5%;
    left: 5%;
    background: #EDEDED;
    text-align: center;
    padding: .3rem .5em;
    font-size: 2rem;
    padding-left: .88em;
  }

  #blog .images-text-02 {
    position: absolute;
    top: 12%;
    left: 5%;
    background: #DADADA;
    text-align: center;
    padding: .3rem .5em;
    font-size: 2rem;
  }

  #blog h4 {
    text-align: center;
    margin-top: 2rem;
  }

  #blog .Admin a {
    color: #A2B70D;
  }

  #blog p {
    border-top: .1rem solid #EDEDED;
    border-bottom: .1rem solid #EDEDED;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
    text-align: left;
  }

  #blog .btn {
    margin-top: 2rem;
  }

  #blog .Btn {
    padding-top: 3rem;
  }

  /*blog finish */
  /* contact start */

  #contact {
    background: url(01.png);
    color: #fff;
    font-size: 2rem;
  }

  #contact .col {
    margin-top: 1.5rem;
    width: 100%;
  }

  #contact .col:first-child {
    margin-top: 0;
  }

  #contact h3 {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #contact h5 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #contact p {
    margin-bottom: 2rem;
  }

  #contact .nth-02 {
    margin-bottom: 6rem;
  }

  #contact a {
    color: #fff;
    padding: 0 .5rem;
    font-size: 1.6rem;
  }

  #contact a:hover {
    color: #A2B70D;
  }

  #contact .col:nth-child(1) .fa {
    color: #A2B70D;
  }

  #contact .contact-col-02 {
    border-bottom: .2rem solid #4C4C4C;
    padding: 2rem 1rem;
  }

  #contact .contact-col-02:nth-child(5) {
    border-bottom: 0;
  }

  #contact .contact-col-02 .fa {}

  #contact .social-link-02 {}

  #contact .social-link-02 ul {}

  #contact .social-link-02 ul li {
    display: inline;
  }

  #contact .social-link-02 ul li a {
    padding: 1rem;
    background: rgba(162, 183, 13, .5)
  }

  #contact .social-link-02 ul li a:hover {
    color: #fff;
  }

  #contact img {
    width: 100%;
    height: 15.5rem;
  }

  #contact .col:nth-child(3) p {
    margin-top: 1.5rem;
  }


  /* contact finish */
  /* footer start */

  #footer {
    background: #191919;
    color: #FFF;
    font-size: 1.6rem;
  }

  #footer .row {
    padding: 2rem 2rem;
  }

  #footer .left-side {
    float: none;
  }

  #footer .right-side {
    float: none !important;
    margin-top: 0.2rem;
  }

  /* footer finish */

  #myBtn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    z-index: 999;
    font-size: 2rem;
    border: none;
    outline: none;
    background: rgba(162, 183, 13, .5);
    color: white;
    cursor: pointer;
    padding: 1.2rem;
    border-radius: .5rem;
  }

  #myBtn:hover {
    background-color: #A1B70D;
  }

  /* home page */
  /* section css finish */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  /* all tag css start */
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    margin: 0;
    color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  /* all tag css finish */
  /* reuseable css start */

  .row {
    padding: 5rem  ;
  }

  p {
    margin: 0;
  }

  li {
    list-style: none;
  }

  h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0;
  }

  .little-title {
    font-size: 2rem;
    text-align: center;
  }

  .btn {
    padding: 1.2rem 1.8rem;
    background: #A7B70D;
  }


  /* reuseable css finish */
  /* section css start */

  /* main nav */

  #header {
    background: rgba(0, 0, 0, .7);
    padding: 1.5rem 0;
    background-image: url(01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 95vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  #header .row {
    padding: 0rem 4rem;
  }


  .logo {
    float: left;
    font-size: 2.5rem;
    margin-top: .7rem;
    text-transform: uppercase;
  }

  .naV {
    background: rgba(0, 0, 0, 0.6);
    margin-top: -1.5rem;
    padding: 1.3rem 8rem;
  }

  .logo a {
    color: #fff;
  }

  .nav {
    text-align: center;
    float: right;
    width: 80%;
    margin-top: 1.5rem;
  }

  .nav ul {
    display: inline-flex;
    list-style: none;
  }

  .nav ul li {}

  .nav ul li a {
    text-decoration: none;
    color: #FFFF;
    padding: 3.3rem 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .active,
  .nav ul li a:hover {
    color: #A2910C;
  }

  .sub-nav-01 {
    display: none;
  }

  .nav ul li:hover .sub-nav-01 {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 3rem;
    margin-left: 1px;
    z-index: 999;

  }

  .nav ul li:hover .sub-nav-01 ul {
    padding: 0;
    display: inline-block;
  }

  .nav ul li:hover .sub-nav-01 ul li {
    width: 14.5rem;
    background: transparent;
    padding: 0;
  }

  .nav ul li:hover .sub-nav-01 ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    text-transform: capitalize;
    font-size: 2rem;
  }


  .nav ul li:hover .sub-nav-01 ul li a:hover {
    background: #A2B70D;
    color: #fff;
  }

  .fa-angle-right {
    float: right;
  }

  .sub-nav-02 {
    display: none;
  }

  .hover-me:hover .sub-nav-02 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 14.5rem;
    background: rgba(0, 0, 0, 0.6);
  }

  /* main nav */
  /* mobile nav */
  /* mobile-menu */
  .mobile-menu span {
    float: right;
    margin-top: -1rem;
    margin-right: 3rem;
    color: #fff;
    font-size: 5rem;
    display: none;
  }

  .mobile-menu .OpenNAV:hover {
    cursor: pointer;
  }

  .overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    overflow-x: hidden;
    transform: 5s;
  }

  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }

  .overlay-content a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #fff;
  }

  .overlay-content a:hover {
    color: green;
  }

  .overlay .btn-close {
    position: absolute;
    top: 3rem;
    right: 4rem;
    font-size: 4rem;
    color: #fff;
  }

  /* mobile nav */
  .banner {
    position: absolute;
    top: 40%;
    left: 15%;
    text-align: center;
    color: #fff;
  }

  #header .banner h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    color: #ffffff;
  }

  #header .row {
    padding: 0;
  }

  #header .little-title {
    width: 80%;
    margin-left: 5.7rem;
    margin-bottom: 3rem;
  }

  #header .btn {
    margin-left: -4.5rem;
    padding-top: .8rem;
    color: #fff;
    font-size: 1.6rem;
  }

  #header .btn:hover {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border: .1rem solid #fff;
  }

  /* service start */

  #service {
    background: #F6F6F6;
  }

  #service p:  {
    margin-top: 0rem;
  }

  #service h2 {
    color: #000;
    text-align: center;
  }

  #service .row:nth-child(2) {
    margin-top: 0;
  }

  #service .col {
    border: .1rem solid #D7D7D7;
    width: 23.5%;
    text-align: center;
    font-size: 1.8rem;
    padding: 2.5rem 0;
  }

  #service .fa {
    font-size: 4rem;
    color: #000;
  }

  #service a {
    color: #A0B70D;
  }

  #service .fa:hover {
    color: #A0B70D;
  }

  #service h4 {
    padding: 1.5rem 0;

  }

  #service {}

  #service {}


  /* service finish */
  /*teem start*/

  #teem {
    text-align: center;
  }

  #teem .row:nth-child(1) {
    padding-bottom: 0;
  }

  #teem .row:nth-child(2) {
    padding-top: 4.5rem;
  }

  #teem .col {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    width: 31.10%;
    border: .2rem solid transparent;
  }

  #teem .col:hover {
    border: .2rem solid #A0B70D;

  }

  #teem h4 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
  }

  #teem h5 {
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }

  #teem img {
    width: 100%;
  }

  #teem .col p {
    font-size: 1.8rem;
    padding: 2.5rem 1.5rem;
    border-bottom: .2rem solid #EDEDED;
  }

  #teem .social-link {
    margin-left: 7%;
    padding-top: 1rem;
    padding-bottom: 6rem;
  }

  #teem .social-link a {
    float: left;
    width: 9%;
    text-align: center;
    padding: 1.2rem;
    background: #A0B70D;
    margin: 0rem .3rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #teem .social-link a .tt:hover {
    color: green;
    background: red;
  }

  #teem .social-link a .fac:hover {
    color: red;
    background: green;
  }

  #teem {}



  /*teem finish*/
  /* aboutUs start */

  #aboutUs {
    background: #414905;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
  }

  #aboutUs .little-title {
    font-size: 2rem;
  }

  #aboutUs p {
    font-size: 5rem;
  }

  #aboutUs h2 {
    color: #fff;
  }

  #aboutUs h4 {
    color: #fff;
    font-size: 2rem;
  }

  #aboutUs .fa {
    margin-bottom: 3.5rem;
    font-size: 6rem;
    color: #A2B70D;
  }

  /* aboutUs finish */
  /*blog start */

  #blog {
    text-align: center;
    font-size: 1.8rem;

  }

  #blog .col {
    border: .1rem solid #EFEFEF;
    width: 31.9%;
    padding-bottom: 3rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  }

  #blog .col:hover {
    border: .1rem solid #A0B70D
  }

  #blog .little-title {
    font-size: 1.8rem;
    text-align: center;
    border: 0;
    margin-top: 0;
  }

  #blog img {
    width: 100%;
  }

  #blog .backgroun-images {
    position: relative;
  }

  #blog .images-text {
    position: absolute;
    top: 5%;
    left: 5%;
    background: #EDEDED;
    text-align: center;
    padding: .3rem .5em;
    font-size: 2rem;
    padding-left: .78em;
  }

  #blog .images-text-02 {
    position: absolute;
    top: 17%;
    left: 5%;
    background: #DADADA;
    text-align: center;
    padding: .3rem .5em;
    font-size: 2rem;
  }

  #blog h4 {
    text-align: center;
    margin-top: 2rem;
  }

  #blog .Admin a {
    color: #A2B70D;
  }

  #blog p {
    border-top: .1rem solid #EDEDED;
    border-bottom: .1rem solid #EDEDED;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
    text-align: left;
  }
 
  #blog .btn {
    margin-top: 2rem;
  }

  #blog .Btn {
    padding-top: 3rem;
  }

  /*blog finish */
  /* contact start */

  #contact {
    background: url(01.png);
    color: #fff;
    font-size: 2rem;
  }

  #contact h3 {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #contact h5 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #fff;
  }

  #contact p {
    margin-bottom: 2rem;
  }

  #contact .nth-02 {
    margin-bottom: 6rem;
  }

  #contact a {
    color: #fff;
    padding: 0 .5rem;
    font-size: 1.6rem;
  }

  #contact a:hover {
    color: #A2B70D;
  }

  #contact .col:nth-child(1) .fa {
    color: #A2B70D;
  }

  #contact .contact-col-02 {
    border-bottom: .2rem solid #4C4C4C;
    padding: 2rem 1rem;
  }

  #contact .contact-col-02:nth-child(5) {
    border-bottom: 0;
  }

  #contact .contact-col-02 .fa {}

  #contact .social-link-02 {}

  #contact .social-link-02 ul {}

  #contact .social-link-02  {
    margin-left: -50px;
  }
  #contact .social-link-02 ul li {
    display: inline;
  }

  #contact .social-link-02 ul li a {
    padding: 1rem;
    background: rgba(162, 183, 13, .5)
  }

  #contact .social-link-02 ul li a:hover {
    color: #fff;
  }

  #contact img {
    width: 100%;
    height: 15.5rem;
  }

  #contact .col:nth-child(3) p {
    margin-top: 1.5rem;
  }


  /* contact finish */
  /* footer start */

  #footer {
    background: #191919;
    color: #FFF;
    font-size: 1.6rem;
  }

  #footer .row {
    padding: 2rem 4rem;
  }

  #footer .left-side {
    float: left;
  }

  #footer .right-side {
    float: right;
  }

  /* footer finish */

  #myBtn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    z-index: 999;
    font-size: 2rem;
    border: none;
    outline: none;
    background: rgba(162, 183, 13, .5);
    color: white;
    cursor: pointer;
    padding: 1.2rem;
    border-radius: .5rem;
  }

  #myBtn:hover {
    background-color: #A1B70D;
  }

  /* home page */
  /* section css finish */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}